html {
    height: 100%;
}

body {

    background-color: rgb(133, 31, 31);
    background-image: url(imagens/fluxograma.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    text-align:center;
    margin:auto;
    padding:0;
}

.container {

}
