html {
    height: 100%;
}

body {

    background-color: rgb(99, 98, 184);
    background-image: url(imagens/fluxograma.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    text-align:center;
    margin:auto;
    padding:0;
}

.container {

}
